node-linker=isolated
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
# Reanimated peer dependency'sini ignore et (CLI bundle için, native'de kullanmıyoruz)
peer-dependency-rules=react-native-reanimated:version[0.0.0]:*
